# Python
__pycache__/
*.pyc
.env
.test.env
.venv/
venv/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Dependency artifacts
requirements.txt
requirements-*.txt

# Coverage reports
.coverage
.coverage.*
htmlcov/
*.lcov