# Application Mode
ENVIRONMENT=testing
DEBUG=False

# Database PostgreSQL
POSTGRES_USER=language_user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=language_app_test

# Security (generate with: openssl rand -hex 32)
SECRET_KEY=your-secret-key-min-32-chars

# Loging
LOG_LEVEL=WARNING